.message { /*From login.css*/
    margin-left: 35px;
}

.form-wrap input {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 60%;
}

select {
    margin-bottom: 10px;
}

select:first-child {
    margin-left: 20px;
}

.form-wrap {
    background-color: #fff;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px 0;
    padding-left: 30px;
}

span.error,
button {
    margin-left: 10px;
}

.addmatch-button {
    background-color: #e2e2e2;
    color: #000;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin: auto;
}

.addmatch-button:hover {
    background-color: #d3d3d3;
}

form {
    margin: 0;
}