div.tables table {
    width: 100%;
}

tr { /*diff*/
    height: 54px;
}

td form {
    margin: 0;
}

td {
    padding-left: 10px;
}

td:nth-child(1),
td:nth-child(4) {
    text-align: center;
    padding-left: 0;
}

.bet-button {
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bet-button:hover {
    background-color: #A52156;
}

.main {
    padding: 0;
}

.login-link {
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 14px;
}
.login-link:focus {
    outline: none;
}
.login-link:hover {
    text-decoration: underline;
}