* {
    box-sizing: border-box;
    font-family: "Lora", serif;
}

.col-1 {width: 8.33333333%;}
.col-2 {width: 16.66666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333333%;}
.col-5 {width: 41.66666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333333%;}
.col-8 {width: 66.66666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333%;}
.col-11 {width: 91.66666667%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 762px) {
    [class*="col-"] {
        width: 100%;
    }

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main h2 {
    margin-left: 15px;
}

.main {
    padding: 0 15px;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: #e2e2e2;
    /*margin: 0;*/
}

.error {
    color: #ff0000;
    font-size: 14px;
}

/*.row {
    height: 100%;
}*/

input[type="button"]:focus,
input[type="submit"]:focus {
    outline: none;
}

.button-wrap {
    text-align: center;
}