tr {
    height: 56px;
}

td:first-child {
    width: 25%;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

td input,
td textarea {
    width: 100%;
}

table + div input[type="submit"] {
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

table + div input[type="submit"]:hover {
    background-color: #A52156;
}

input[readonly],
textarea {
    border: none;
    outline: none;
}

span.error {
    margin-left: 10px;
}
