.header {
    background-color: #6B1537;
    margin: 0;
}

.header-2 {
    border-bottom: 1px solid black;
    padding: 0 15px;
    background-color: #fff;
}

.header-2 a {
    text-decoration: none;
    color: #000;
}

.lang select,
.lang form {
    position: absolute;
    top: 38px;
    font-size: 14px;
}

.lang input {
    float: left;
    background-color: #e2e2e2;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.greeting {
    float: right;
    color: #fff;
    padding: 10px;
    padding-top: 15px;
    margin-right: 30px;
}

.auth {
    float: right;
    width: 307px;
}

.auth input[type="submit"],
.auth input[type="button"] {
    float: left;
    background-color: #e2e2e2;
    color: #000;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.inline {
    display: inline;
}

@media only screen and (max-width: 980px) {
    .auth a {
        width: 100%;
    }

}

.auth input[type="submit"]:hover,
.auth input[type="button"]:hover,
.lang input:hover {
    background-color: #d3d3d3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 350px;
    height: 280px; /*255px*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 10px 30px;
    background-color: #6B1537;
    color: white;
}

.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form {
    position: relative;
    top: 25px;
    left: 35px;
    margin-bottom: 15px;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    height: 30px;
    width: 80%;
    padding-left: 10px;
}

.modal-body input[type="submit"] {
    position: relative;
    top: 20px; /*30px*/
    left: 115px;
    background-color: #e2e2e2;
    color: #000;
    border: none;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.modal-body input[type="checkbox"] {
    margin-left: 35px;
}