.form {
    position: relative;
    top: 25px;
    left: 35px;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    height: 30px;
    width: 80%;
    padding-left: 10px;
}

.main input[type="submit"] {
    position: relative;
    top: 20px;
    left: 200px;
    width: 30%;
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.main input[type="submit"]:hover {
    background-color: #A52156;
}

.message {
    margin-left: 35px;
}

