#popTable {
    display: block;
}

#soonTable {
    display: none;
}

.header-w-options a {
    float: left;
    width: 49.8%;
    height: 39px; /*40px*/
    background-color: #6B1537;
    color: #fff;
    margin-top: 0px;
    padding: 9px 0px;
    text-align: center;
}

#pop {
    margin-right: 2px;
}

a.active,
.header-w-options a:hover {
    text-decoration: none;
    background-color: #A52156;
    color: #fff;
}

#popTable,
#soonTable {
    overflow: auto;
    height: 303px; /*310px*/
    margin-top: 5px;
}

tr { /*diff*/
    height: 44px;
}

td:first-child {
    width: 18%;
    text-align: center;
}

td:nth-child(2) {
    padding-left: 10px;
}

td:last-child {
    width: 15%;
    text-align: center;
}