tr { /*diff*/
    height: 54px;
}

td:not(:nth-child(2)) {
    text-align: center;
}

td:first-child { /*diff*/
    padding-left: 10px;
}

td:nth-child(2) { /*diff*/
    width: 30%;
    text-align: left;
    padding-left: 10px;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(5) input {
    width: 40px;
}

td:last-child { /*diff*/
    width: 15%;
    border: none;
}

td form,
.button-wrap form {
    margin: 0;
}

.bet-button {
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bet-button:hover {
    background-color: #A52156;
}

.header-w-button h2 {
    width: 67.5%;
    margin-right: 15px;
    display: inline-block;
    float: left;
}

.header-w-button form {
    display: inline-block;
    width: 30%;
    margin: auto;
    float: left;
}

.header-w-button input {
    width: 100%;
}
