.left-menu {
    padding: 0 15px 0 0;
}

.right-menu {
    padding: 0 0 0 15px;
}

.left-menu h2,
.right-menu h2 {
    margin-left: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul input,
ul a,
ul button {
    font-size: 16px;
    background-color: #6B1537;
    color: #fff;
    padding: 10px 26px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    border: none;
}

li {
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li:not(:last-child) {
    margin-bottom: 5px;
}

ul input:hover,
ul a:hover,
ul button:hover {
    background-color: #A52156;
}