.pagination form {
    /*display: inline-block;*/
    text-align: center;
    margin-top: 1em;
}

.centered {
    width: 20%;
    margin: auto;
}

.pagination input,
.pagination button {
    background-color: #fff;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.pagination form input.active,
.pagination form button.active {
    background-color: #6B1537;
    color: white;
}

.pagination form input:hover:not(.active),
.pagination form button:hover:not(.active) {
    background-color: #e2e2e2;
}
