tr { /*diff*/
    height: 54px;
}

td:first-child { /*diff*/
    text-align: left;
    padding-left: 10px;
}

td:nth-child(2) { /*diff*/
    width: 60%;
    text-align: left;
    padding-left: 10px;
}

td:nth-child(3) {
    text-align: center;
}

td:last-child { /*diff*/
    width: 25%;
    text-align: center;
}