table {
    width: 99.8%;
    border-collapse: collapse;
    background-color: #fff;
}

td {
    border: 1px solid black;
}

.cat {
    font-size: 12px;
}

td a {
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}