tr { /*diff*/
    height: 54px;
}

.bets-table td:first-child { /*diff*/
    text-align: left;
    padding-left: 10px;
}

.bets-table td:nth-child(2) { /*diff*/
    width: 60%;
    text-align: left;
    /*padding-left: 10px;*/
}

.bets-table td:nth-child(3),
.bets-table td:nth-child(4) {
    text-align: center;
}

.bets-table td:last-child { /*diff*/
    width: 7%;
    text-align: center;
}

.bets-table {
    display: none;
    margin-bottom: 5px;
}

.user-info {
    display: none;
}

.user-info td {
    padding-left: 15px;
}

.change-pass {
    display: none;
    background-color: #fff;
    padding: 15px;
}

.change-pass form {
    margin: 0;
}

/*.change-pass label {
    display: block;
    margin-bottom: 10px;
}*/

.change-pass td {
    border: none;
}

.change-pass td:first-child {
    width: 28%;
}

.show-btn {
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 10px 26px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    /*display: inline-block;*/
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[name="changePassword"],
input[name="showChangePassword"] {
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[name="changePassword"] {
    margin-bottom: 0;
}

.show-btn:hover,
input[name="showChangePassword"]:hover,
input[name="changePassword"]:hover,
.delete-bet-btn:hover {
    background-color: #A52156;
}

.delete-bet-btn {
    height: 30px;
    width: 30px;
    font-size: 28px;
    background-color: #6B1537;
    color: #fff;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

td form {
    margin: 0;
}

